.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.logo img {
    height: 90px;
    width: 90px;
}

.header-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header-links a:hover {
    color: chocolate;
}

/* hero_section_of_home */

.hero_section {
    background-image: url('image/school.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px;
}